<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div{
            box-shadow: 2px 2px 2px 2px red;
            width:500px;
            padding: 10px;

        }
    </style>
</head>
<body>
    <center>
        <div>
            <h1>Inquiry here</h1><hr>
            <form method="post">
                {{form.as_p}}
                {% csrf_token %}
                <input type="submit">
            </form>
        </div>
    </center>
</body>
</html>